@import "tailwindcss";

* {
  overscroll-behavior: none;
  touch-action: none;
  -webkit-font-smoothing: antialiased;
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Start Generation Here */
/* Hide scrollbar track and set thumb opacity to 50% */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

body {
  background: #333;
}
